body{
    background: #04819e;
    color: white;
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 6px #333;
}

h1{
    text-transform: uppercase;
}
.section{
    display: inline-block;
    vertical-align: top;
    width: 33%;
}
#mic
{
    color: transparent;
    background-color: transparent;
    border: 0;
    width: 15px;
    margin: 40px 36px;
    -webkit-transform: scale(8.0, 8.0);
    transform: scale(8.0, 8.0);
}
figure img{
    width: 150px;
}